body {
  background-color: #428292;
}

.heading {
  background-color: #4c338f;
  margin-bottom: 20px;
  padding: 5px 0px 5px 15px;
}

.title {
  background-color: #0e010e;
  padding: 5px;
  color: white;
}

#runtime {
  background-color: #428292;
  color: #3e8fde;
  padding: 0px 0px 5px 5px;
}

.content {
  color: #3e8fde;
}

#subtitle {
  color: white;
  margin-left: 55px;
}

#showing {
  margin-left: 20px;
}

#films li::before {
  content: "";
}

.film {
  font-size: 15px;
  text-transform: uppercase;
}

.sold-out {
  color: lightgray;
}

img {
  max-width: 25vw;
}

#film-info {
  padding-bottom: 15px;
}
